:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #181818;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;  
  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
  margin: 20px;
}

#gameCanvas {
  border: 1px solid red;
  z-index: 1;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 0px 40px 15px;
  border-radius: 20px;
  background-color: #282727;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  width: 120px;
  height: 40px;
}

.levelContainer {
  display: flex;
  gap: 10px;
  padding-top: 50px;
}

.levels {
  padding-bottom: 10px;
}

.points {
  display: flex;
  gap: 10px;
  padding-bottom: 50px;
}
